{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-console": 0,
    "no-mixed-operators": 0,
    "radix": 0,
    "max-len": [ 2, 120 ],
    "max-params": [ 2, 4 ],
    "indent": [ "error", 4, { "SwitchCase": 1 }],
    "capitalized-comments": [ "error", "never" ],
    "newline-before-return": "error",
    "new-cap": [
      "error",
      { "newIsCap": true }
    ],
    "react/jsx-no-undef": 1,
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "jsx-quotes": [1, "prefer-single"]
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "fetch": false,
    "Promise": false,
    "block": false
  }
}